@import './partials/general';

body{
    background-color: $Light-Grayish-Cyan;
    &::before{
        content: '';
        height: 10rem;
        width: 100%;
        display: inline-block;
        background-color: #5da5a4;
        background-image: url(/app/images/bg-header-mobile.svg);
        @include tablette{
            background-image: url(/app/images/bg-header-desktop.svg);
        }
    }


}
.jobs-container{
    margin: 1rem;
    max-width: 70rem;
    @include desktop{
        margin-inline: auto;
    }
}

// filter bar
.jobs-filterMenu{
    background-color: white;
    height:auto;
    min-height:6rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    box-shadow: 0 15px 6px -6px #999;
    top: -3.2rem;
    ul li{
        position: relative;
    }
     ul li::after{
         content: '';
         height:33px;
         width:25px;
         padding-block: 10px;
        position: absolute;
          left:100%;
         top: 1px;

        
          cursor: pointer;
         display: inline-block;
         text-align: center;
         background-color:$heading;
         background-position: center;
         background-image: url(/app/images/icon-remove.svg);
         background-repeat: no-repeat;
        
         @include desktop{
            height: 37px;
             top: 0;
         }
     }
    @include tablette{
        margin: 1rem;
    }
  #clear{
    color: $Dark-Cyan;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
  }
}
// jobs card
.job{
     height: 17rem; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 15px 6px -6px #999;
    transition: transform 0.6s;
    margin-block:1rem 3rem;
    cursor: pointer;
    position: relative;
    @include tablette{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        height: fit-content;
        margin: 3rem 1rem;
        
    }
    @include desktop{
        height: 11rem;
        padding:  2rem;
    }
    &__info{
        // margin-right: 7rem;
      @include tablette{
        display: flex;
        padding-top: 10px;
        
      }
    }
    &__desc{
        &__heading{
            display: flex;
            
        }
     }
     &__img{
        height: 3.5rem;
        position: absolute;
        top: -2rem;
        left: 1.3rem;
        @include tablette{
            position: relative;
            left: 0;
            top: -0.3rem;
            height: 5rem;
            margin-right: 1.5rem;
            
        }
     }  
    

   &__name{
       color: $Dark-Cyan;
       font-size: 1rem;
       @include desktop{
        font-size: 1.1rem;
       }
   }
    &__popUp{
        transform: translateX(30px);
    }
   
   &__newlogo{
    background-color: $Dark-Cyan;
   
   }

   &__featuredLogo{
    background-color: $heading;
    margin-left: 4px;
   }

   &__newlogo,&__featuredLogo{
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 16px;
    letter-spacing: 0.1px;
    font-size: 0.7rem;
    @include desktop{
        font-size: 1rem;
        letter-spacing: -0.5px;
    }
   }

   &__title{
    font-weight:800;
    margin-block: 1rem;
    font-size: 1.3rem;
    transition: color 0.4s;
    &:hover{
        color:$Dark-Cyan;
    }
    @include desktop{
        font-size: 1.3rem;
    }
   }

   &__timing{
   
    display: flex;
    justify-content: space-between;
     max-width: 20rem;
    position: relative;
    @include mobile{
        max-width:80%;
    }
    li{
        color: $text-color;
        margin-right: 14px;   
        &:nth-child(2)::before,&:nth-child(3)::before{
            content: '';
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background-color: #ccc;
            display: inline-block;
            transform: translateX(-7px);
        }
    }
    &::after{
        content: '';
        width: 80vw;
        height: 1px;
        background-color: #ccc;
        display: block;
        position: absolute;
        top: 2.5rem;
        @include tablette{
            display: none;
        }
    }
}
&__skills,&__desc{
     transform: translateY(35px) translateX(20px);
    @include tablette{
        transform: none;
    }
}
&__skills{
    padding-right: 10px;
    margin-top: 2rem;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;

}



&:hover{
    transform: translateY(-10px);
}
}


.skill-name{
    color:$Dark-Cyan ;
    background-color: $Light-Grayish-Cyan;
    margin-inline: 10px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    padding: 8px;
    transition:0.4s;
    margin:5px 1rem;
    &:hover{
        background-color: $Dark-Cyan;
        color: white;
    }
}

.hidden{
    display: none;
}